/.ipynb_checkpoints
/src/__pycache__
/images
/gas_fractions
/halo_selection
/Notebooks/.ipynb_checkpoints
/bug_tests/.ipynb_checkpoints
/results
/results/fgas
/results/fgas/*
/gp_train_results
/scrips/__pycache__
/mcmc_chains
/scripts/cross-validation/best_models_k10_nbins10
/scripts/cross-validation/best_models_k10_nbins10/*
/cross-match
/cross-match/*